#woodsIMG {
    width: 500px;

}
.schoolDiv {
    text-align: center;
}
body{
    background-color: aqua
}
nav{
    
}
.campusDiv {
    text-align: center;
}
img{
    border-radius: 100px;
}
html{
    scroll-behavior: smooth;
}
#woodsExterior{
    width:1200px;  
}



div {
    
}

#acheivementsDiv {
    text-align: center;
}
